<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>My Name is Wyatt Lynch, I am a student at Weber State University studying Computer Science. I have always liked technology and I'm excited to learn more about computers while getting my degree.
          I like using the Linux operating system, I've learned most of what I know about Linux through online research and by tinkering with it.
        </p>
      </div>
      <div class="col-lg-4">
        <p>
          I work at BestBuy as a Samsung Sales Rep. At work I sell Phones, Computers, and Tablets. 
          I like working with Tech, and learning more about it. I enjoy hiking and camping with friends.
          I'm a fan of the Utah Jazz, and I like playing and watching basketball. 

        </p>
      </div>
    </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/wyaito" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> My Github Page
        </a>
      </div>
    </div>
  </div>
</section>
